        <div class="row text-center">
            <h6 class="summer-post-share small-12 columns">
                Si te ha gustado, comparte!!
                <a class="twitter-icon" href="https://twitter.com/intent/tweet?text=Un%20vistazo%20a%20{{ site.url }}{{ page.url }},%20{{ page.twitter-text }}%20,%20via%20&#64;{{ site.owner.twitter }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="google-icon" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="evernote-icon" href="http://www.evernote.com/clip.action?url={{ site.url }}{{ page.url }}"
                   onclick="window.open(this.href, 'evernote-share', 'width=1188,height=635');return false;" title="Share on Evernote">
                   &raquo;
                </a>
            </h6>
        </div>
