<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>

<div class="navbar-fixed">
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text text-accent-3">{{ site.title }}</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
        {% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}" title="{{ link.title }}" class="white-text text-accent-3">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}" class="white-text text-accent-3">{{ link.title }}</a>
            {% endif %} </li>
        {% endfor %} 
      </ul>

      <ul id="nav-mobile" class="side-nav blue accent-2">
        <li><a href="#" class="white-text text-accent-3">Navbar Link</a></li>
        {% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}" title="{{ link.title }}" class="white-text text-accent-3">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}" class="white-text text-accent-3">{{ link.title }}</a>
            {% endif %} </li>
        {% endfor %}    
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-accent-3">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
        <div class="row center">
          <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
        </div>
        <br><br>

      </div>
    </div>

    <div class="parallax"><img src="{{ site.url }}/assets/img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

          <div class="row center pink-text text-darken-3">
            <div class="col s12 grey lighten-2"><span class="flow-text">Siempre estoy de ancho completo (col s12) <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn waves-effect waves-light pink accent-3">Get Started</a></span></div>
          </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
            {{ content }}
      </div>
    </div>
</div>

    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>
